body {
	background-color: #777777;

}

header {
	height: 80px;
	line-height: 80px;
	text-align: center;
	background-color: white;
	color: #777777;
}



nav {
	text-align: center;
	background-color: white;
	height: 80px;
	line-height: 80px;
	clear: both;


}

nav ul li {
	list-style: none;
	display: inline-block;
	text-align: center;
	padding: 10px;
	font-size: 20px;
	color: #777777;

}

section {
	margin-top: 20px;
	float: left;
	background-color: white;
/*	padding-bottom: 10px;
*/	width: 49%;
	text-align: center;
	height: 350px;
	margin-right: 5px;
	line-height: 30px;
	color: #777777;

}

aside {
	margin-top: 20px;
	float: right;
	background-color: white;
/*	padding-bottom: 10px; 
*/	width: 49%;
	text-align: center;
	line-height: 30px;
	height: 350px;
	margin-left: 5px;
	color: #777777;

}

footer {
	clear: both;
	overflow: auto;
	background-color: white;
	text-align: center;
	margin-top: 20px;
/*	border: solid black;
*/	position: relative;
	top:17px;
	color: #777777;
}
section p {
	/*clear: both;*/
	background-color: white;
	height: 55px;
	line-height: 40px;
	text-align: center;
	/*margin: 5%;*/
	float: left;
	width: 80%;
/*	border: solid black;
*/	margin-left: 10%;
	margin-right: 10%;
	color: #777777;	
}

.Layout {
display: none;
}

article {
	background-color: #777777;
	width: 90%;
	clear: both;
	margin: 5%;
	height: 70%;
	line-height: 30px;
	color: #EBEBEB;
}
